body
{
background-color:#303030;
color:#ffffff;
font-family: 'Josefin Sans', sans-serif;
font-size: 20px;
}

#pojemnik
{
	width: 1000px;
	margin-left:auto;
	margin-right:auto;
}

.rectangle
{
	width 960px;
	
	
}
.rectangle2
{
	width:1000px;
	margin-top:20px;
	color:red;
	text-align:center;
	background-color:black;	
	font-size:20px;
}

.square
{
witdh: 50%;
float:left;	

}

#logo
{
	font-family: 'Josefin Sans', sans-serif;
	float:left;
	font-size:70px;
	width:600px;
	margin-top:10px;
	margin-bottom:10px;
}
#zegar
{
	font-family: 'Josefin Sans', sans-serif;
	float:left;
	font-size:60px;
	margin-top:10px;
	margin-bottom:10px;
}

.tile1
{
	background-color:#3095d3;
	margin:10px;
	width:230px;
	height:140px;
	float:left;
}
.tile1:hover
{
	background-color:#2084c2;
}
.tile2
{
	background-color:#170D1F;
	margin:10px;
	width:230px;
	height:140px;
	float:left;

}
.tile2:hover
{
	background-color:#555555;
}
.tile3
{
	background-color:#93c748;
	margin:10px;
	width:230px;
	height:140px;
	float:left;
}
.tile3:hover
{
	background-color:#82b637;
}
.tile4
{
	background-color:#15A167;
	margin:10px;
	width:480px;
	height:140px;
	text-align:center;
	margin-top:10px;
	color:black;
}
.tile4:hover
{
	background-color:#82b637;
}

#stopka
{
	background-color:black;
	color:red;
	font-size:50px;
	text-align:center;
	clear:both;
	
	
}
.tile6
{
	background-color:#93c748;
	margin:10px;
	width:460px;
	height:280px;
	text-align:center;
	margin-top:10px;
	color:black;
	padding-top:20px;
	
	
}


.yt
{
	background-color:#d94348;
	margin:10px;
	width:100px;
	height:142px;
	text-align:center;
	margin-top:10px;
	color:black;
	float:left;
}
.yt:hover
{
	background-color:#c83237;
	margin-top:20px;
}
.fb:hover
{
	background-color:#3557a2;
	margin-top:20px;
}
.gplus:hover
{
	background-color:#a72126;
	margin-top:20px;
}
.tw:hover
{
	background-color:#8965d2;
	margin-top:20px;
}
.fb
{
	background-color:#4668b3;
	margin:10px;
	width:100px;
	height:140px;
	text-align:center;
	margin-top:10px;
	color:black;
	float:left;
	
}
.gplus
{
	background-color:#c83237;
	margin:10px;
	width:100px;
	height:140px;
	text-align:center;
	margin-top:10px;
	color:black;
	float:left;	
}
.tw
{
	background-color:silver;
	margin:10px;
	width:100px;
	height:140px;
	text-align:center;
	margin-top:10px;
	color:black;
	float:left;	
}




