body
{
background-color:#303030;
color:#ffffff;
font-family: 'Josefin Sans', sans-serif;
font-size: 20px;
}

#pojemnik
{
	width: 1000px;
	margin-left:auto;
	margin-right:auto;
}

.rectangle
{
	width 960px;
	margin:20px;
	
	
}
.rectangle2
{
	width:1000px;
	margin:20px;
	color:red;
	text-align:center;
	background-color:black;	
	font-size:20px;
}

.square
{
witdh: 50%;
float:left;	

}

#logo
{
	font-family: 'Josefin Sans', sans-serif;
	float:left;
	font-size:70px;
	width:600px;
}
#zegar
{
	font-family: 'Josefin Sans', sans-serif;
	float:left;
	font-size:70px;
}

.tile1
{
	background-color:#3095d3;
	margin:10px;
	width:230px;
	height:142px;
	float:left;
}
.tile2
{
	background-color:#666666;
	margin:10px;
	width:230px;
	height:142px;
	float:left;
}

.tile3
{
	background-color:#93c748;
	margin:10px;
	width:230px;
	height:142px;
	float:left;
}

.tile4
{
	background-color:#93c748;
	margin:10px;
	width:480px;
	height:142px;
	float:left;
	text-align:center;
	margin-top:10px;
	color:black;
	float: left;
	
}
.tile5
{
	background-color:red;
	color:white;
	
	width:220px;
	height:260px;
	float: left;
	
}
#stopka
{
	background-color:black;
	color:red;
	font-size:50px;
	text-align:center;
	clear:both;
	
}









